# tag::jdbc-compose[]
services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
# end::jdbc-compose[]
  qdrant:
    image: 'qdrant/qdrant:latest'
    ports:
      - '6334'
