

spring:
  application:
    name: mcp-client

  ai:
    mcp:
      client:
        sse:
          connections:
            boardgamedb:
              url: http://localhost:3001

        toolcallback:
          enabled: true
